<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.css}">
    <title>Блог</title>
</head>
<body>
<nav class="nav navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ms-3">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item ms-3" th:if="${auth}">
                <a class="nav-link" href="/user/list">Пользователи</a>
            </li>
            <li class="nav-item ms-3" th:if="${auth}">
                <a class="nav-link" href="/add-post">Добавить статью</a>
            </li>
            <li class="nav-item ms-3" th:if="${admin != null}">
                <a class="nav-link" href="/permission/page">Права пользователей</a>
            </li>
        </ul>
    </div>
    <div>
        <div th:if="${auth}">
            <a href="/logout" class="btn btn-primary">Выйти</a>
        </div>
        <div th:unless="${auth}">
            <a href="/login" class="btn btn-primary">Войти</a>
            <a href="/register-form" class="btn btn-primary ms-2">Регистрация</a>
        </div>
    </div>
</nav>
<content class="container d-flex flex-column align-items-center mt-4">
    <form class="form-horizontal col-sm-8">
        <div class="form-group row d-flex flex-row align-items-center justify-content-center">
            <div class="col-sm-6">
                <input placeholder="заголовок статьи" class="form-control" name="title">
            </div>
            <div class="col-sm-2 col-form-label">
                <label class="form-check-label">точный поиск</label>
            </div>
            <div class="col-sm-1 col-form-label">
                <input type="checkbox" name="accurate" class="form-check-input">
            </div>
            <div class="col-sm-3">
                <input value="Поиск" formmethod="get" formaction="/" type="submit" class="btn btn-primary col-sm-12">
            </div>
        </div>
    </form>
    <p class="display-5 p-4">Список статей</p>
</content>
<content class="container d-flex flex-column align-items-right mt-4 col-sm-5">
    <div th:each="post : ${posts}">
        <a th:href="@{/list?id={id}(id=${post.id})}">
            <h3 th:text="${post.title}"></h3>
            <p th:text="${post.anons}"></p>
        </a>
    </div>
</content>
<script th:src="@{/bootstrap/bootstrap.js}"></script>
</body>
</html>