<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
</head>
<body>
<a href="/">На главную</a>
<form action="/post-create" method="post">
    <label>Заголовок</label><input type="text" name="title"/><br>
    <label>Анонс</label><input type="text" name="anons"/><br>
    <label>Содержание</label><textarea name="full_text"></textarea><br>
    <input type="submit" value="Создать статью">
</form>
<script th:src="@{/bootstrap/bootstrap.js}"></script>
</body>
</html>