<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
</head>
<body>
    <p>Регистрация</p>
    <form action="/user-create" method="post">
        <label>Логин</label><input type="text" name="login"><br>
        <label>Пароль</label><input type="text" name="password"><br>
        <label>Возраст</label><input type="number" name="age"><br>
        <label>Рост</label><input type="number" step="0.01" name="growth"><br>
        <label>Дата рождения</label><input type="date" name="bd_date"><br>
        <input value="Подтвердить" type="submit">
        <a href="/">Назад</a>
    </form>
    <script th:src="@{/bootstrap/bootstrap.js}"></script>
</body>
</html>
