<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.css}">
</head>
<body>
<a href="/">На главную</a>
<form>
    <input placeholder="Логин" name="login">
    <label>точный поиск</label><input type="checkbox" name="accurate">
    <input value="Поиск" formmethod="get" formaction="/user/list" type="submit">
</form>
<div th:each="user : ${users}">
    <a th:href="@{/profile?id={id}(id=${user.id})}"><p th:text="${user.login}"></p></a>
</div>
<script th:src="@{/bootstrap/bootstrap.js}"></script>
</body>
</html>